
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #228b22; /* Forest Green */
    --secondary: #f5f5f5; /* Sandy Beige */
    --accent: #d2b48c; /* Honey Mustard */
    --text-strong: #333; /* Dark Gray (for text) */
    --text-light: #999; /* Light Gray (for secondary text) */
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer utilities {
  .nav{
      @apply relative ml-10 text-gray-500 font-mono font-bold hover:text-white
  }

  .nav::after{
      @apply content-[''] absolute left-0  bg-green-500   h-[3px] w-[100%] -bottom-[5px] rounded-xl
  }
}

body {
  font-family: 'Roboto', sans-serif;
  

}

/* Earthy palette colors */


/* Apply background color */

