
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #228b22; /* Forest Green */
    --secondary: #f5f5f5; /* Sandy Beige */
    --accent: #d2b48c; /* Honey Mustard */
    --text-strong: #333; /* Dark Gray (for text) */
    --text-light: #999; /* Light Gray (for secondary text) */
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary);
  color: var(--text-strong);

}

/* Earthy palette colors */


/* Apply background color */

